<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Main App</Name>

  <IncomingConfigPath>.\FIXCommModule.xml</IncomingConfigPath>
  <IncomingModule>FIXCommModule.FIXCommModule, FIXCommModule</IncomingModule>

  <LogLevel>ERROR</LogLevel>
  <!--ERROR, INFO, DEBUG-->

</Configuration>